.hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 30px;        
    }

    &__heading {
        color: #fff;
        font-size: 100px;
        margin-bottom: 24px;

        @include tablet2 {
            font-size: 60px;
        }

        span {
            background: #ee0979;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
    }

    &__description {
        background: #da22ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9114ff, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        background-size: 100%;
        font-size: 60px;

        @include tablet2 {
            font-size: 40px;
        }
    }
    
    &__btn {        
        cursor: pointer;        
        font-size: 1.8rem;            
        margin-top: 2rem;
        padding: 20px 60px;
        position: relative;
        border: none;
        border-radius: 4px;            
        transition: 0.5s;
        outline: none;
        background: #833ab4;
        background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        
        @include mobile {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #fff;
            z-index: 2;            
        }               

    }

    &__btn:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff1ead;
        transition: 0.5s;
        border-radius: 4px;
    } 

    &__btn:hover{
        color: #fff;
    }

    &__btn:hover:after {
        width: 100%;
    }
}