.services {
    &__container{
        background: #131313;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10rem 0;

        h1 {
            background-color: #ff8177;
            background-image: linear-gradient(to right,#ff0844 0%,#f7673c 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            margin-bottom: 5rem;
            font-size: 2.5rem;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        @include pc {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet2 {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        color: #fff;
        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        transition: 0.5;
        margin: 10px;
        height: 425px;
        width: 300px;  
        border-radius: 4px; 
        align-items: center;
        text-align: center;        
        display: flex;
        flex-direction: column;        
        justify-content: center;

        p {
            margin: 24px;
            font-size: 20px;
            margin-top: 24px;
        }

        &:hover {
            transform: scale(1.075);
            transition: 0.5s;
            cursor: pointer;
        }
    }

    &__card:nth-child(2){
        background: #1FA2FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &__card:nth-child(3){
        background-image: linear-gradient(to right, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);        
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        button {
            color: #fff;
            padding: 14px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: #131313;
            font-size: 1rem;
        }
    }
}